html {
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
}

body {
	background-image: url('../Images/background.png');
	background-repeat: no-repeat; 
	background-attachment : fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

#users {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	table-layout: fixed;
	border-collapse: collapse;
	width: 50%;
}

#users td, #users th {
	padding: 8px;
	text-align: center;
}

#users tr:nth-child(even) {
	background-color: #c0ceea;
}

#users tbody tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

#users th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #8B69BD;
	color: white;
}

.header {
	text-align: center;
	padding: 8px;
}
