html {
	height: 100%;
	margin: 0;
}

body {
	background-image: url('../Images/background.png');
	background-repeat: no-repeat; 
	background-attachment : fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header {
  padding: 80px;
  text-align: center;
  color: black;
}

.header h1 {
  font-size: 40px;
}

.clock {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #493ec8;;
    font-size: 30px;
    letter-spacing: 3px;
}