html {
	height: 100%;
	margin: 0;
}

body {
	background-image: url('../Images/background.png');
	background-repeat: no-repeat; 
	background-attachment : fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}

.header {
	padding: 40px;
}

#user {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	table-layout: fixed;
	border-collapse: collapse;
	width: 50%;
	margin-bottom: 25px;
}

#user td {
	padding: 8px;
	text-align: center;
}

#user tr:nth-child(even) {
	background-color: #c0ceea;
}